<template>
  <div id="warpper">
    <div class="container">
      <div class="card form-card">
        <div class="card-content">
          <!--  -->
          <div class="columns">
            <div class="column is-8">
              <div class="field">
                <label class="label">ปีการศึกษา/ปีงบประมาณ</label>
                <input class="input" type="text">
              </div>
            </div>

            <div class="column is-4">
              <div class="field">
                <label for="" class="label">ภาคเรียน</label>
                <div class="select">
                  <select>
                    <option>1</option>
                    <option>2</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <!--  -->
          <div class="columns">
            <div class="column ">
              <div class="field">
                <label class="label">หน่วยงานการศึกษา</label>
                <input class="input" type="text">
              </div>
            </div>

            <div class="column ">
              <div class="field">
                <label for="" class="label">ชื่อสถานศึุกษา</label>
                <input class="input" type="text">
              </div>
            </div>
          </div>
          <!--  -->
          <div class="columns">
            <div class="column ">
              <div class="field">
                <label class="label">ระดับการศึกษาที่สอน</label>
                <div class="select">
                  <select>
                    <option>1</option>
                    <option>2</option>
                  </select>
                </div>             
              </div>
            </div>

            <div class="column ">
              <div class="field">
                <label for="" class="label">กลุ่มสาระการเรียนรู้ที่สอน/สาขาวิชาที่สอน/วิชาที่สอน</label>
                <div class="select">
                  <select>
                    <option>1</option>
                    <option>2</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="columns">
            <div class="column ">
              <div class="field">
                <label class="label">สาขาวิชา/กลุ่มสิชาที่สอน <span style="color:red">(ถ้ามี)</span></label> 
                <input class="input" type="text">
              </div>
            </div>

            <div class="column ">
              <div class="field">
                <label for="" class="label">ชื่อวิชาที่สอน/วิชาที่อบรม</label>
                <input class="input" type="text">
              </div>
            </div>
          </div>
          <!--  -->
          <div class="columns">
            <div class="column ">
              <div class="field">
                <label class="label">จำนวนคาบต่อสัปดาห์/จำนวนชั่วโมงทั้งหลักสูตร</label> 
                <input class="input" type="text">
              </div>
            </div>
          </div>
          <!--  -->
          <div class="columns is-pulled-right" style="margin-bottom: 18px; padding-right: 1.5em">
            <div class="column ">
              <button class="button is-rounded" @click="routeTo('/plc')">ย้อนกลับ</button>
              <button class="button btn-ibook is-rounded">บันทึก</button>
            </div>
          </div>



        </div>
      </div> 

    </div>
  </div>
  
</template>
<script > 
import router from "@/router"
export default {
  data() {
    return {
      images: [
        {
          name: "1.abc"
        },
        {
          name: "2.asd"
        },
        {
          name: "3.abdc"
        },
        {
          name: "4.aasdbc"
        },

      ]
    }
  },
  methods: {
    routeTo: (url) => {
      router.push({path: url})
    },
    appendImage: function() {
      this.images.push({
        name: ""
      })
    },
    removeImage: function(index) {
      console.log(index);
      // this.images.splice(this.images.indexOf(index), 1);
      this.$delete(this.images, index)
      // delete(this.images[index]);
    }
  }
}

</script>
<style lang="scss" scoped>
  .file {
    margin-bottom: 8px;
  }
</style>
