<template>
	<div id="warpper">
		<header-content :items="[{title: 'การมอบหมายงานสอน'}]"></header-content>

		<div class="container">
			<div class="columns">
				<div class="column">
					<div class="is-pulled-right">
						<button @click="exportDoc" class="button inverse btn-ibook" >Export เอกสาร</button>
						<button class="button btn-ibook" @click="routeTo('assignment/create')">เพิ่มเอกสาร</button>
					</div>
					<div class="is-clearfix"></div>

				</div>
			</div>
			<div class="columns">
				<div class="column" style="text-align: center;">
					<table class="table is-striped i-bordered is-hoverable is-fullwidth">
						<thead>
							<tr>
								<th>รหัสเอกสาร</th>
								<th>ปีการศึกษา/ปีงบประมาณ</th>
								<th>ภาคเรียนที่</th>
								<th>ห่น่วยงานการศึกษา</th>
								<th>ชื่อสถานศึกษา</th>
								<th>จัดการเอกสาร</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(item, i) in items" :key="i">
								<td>{{item.id}}</td>
								<td>{{item.school_year}}</td>
								<td>{{item.term}}</td>
								<td>{{item.education_agency}}</td>
								<td>{{item.school_name}}</td>
								<td>
									<a href="" class="i-icon"> <font-awesome-icon icon="edit"></font-awesome-icon> </a>
									<a href="" class="i-icon"> <font-awesome-icon icon="trash"></font-awesome-icon> </a>

								</td>

							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import mocks from "../../../store/mocks" ;
	import router from "@/router";
	
	export default {
		data() {
			return {
				items: mocks.assignment,
			}
		},
		created: function() {

		},
		methods:{
			routeTo: (url) => {
				router.push({path: url})
			},
			exportDoc() {
				document.location.href = "static/files/export.xlsm";
				
			}
		}
	}
	
</script>
<style lang="scss" scoped>
tr {
	width: 100%;
}
</style>
