<template>
<div id="warpper">
  <div id="header">
    <ul class="menu">
      <li class="item" :class=" context==0? 'active': ''">
        <a href="" @click.prevent="setContext(0)">
        แก้ไขข้อมูลส่วนตัว
        </a>
      </li>
      <li class="item" :class=" context==1? 'active': ''">
        <a href="" @click.prevent="setContext(1)">
        แก้ไขรูปโปรไฟล์
        </a>
      </li>
    </ul>
  </div>
  <div class="container">
    <div id="avatar" v-if="context==1">
      <div class="columns">
        <div class="column is-4">
        </div>
        <div class="column is-4">
            <img src="static/imgs/teacher.png" alt="">
          <div style="text-align: center">
            <button class="button btn-ibook is-rounded">เลือกรูปภาพ</button>

          </div>

        </div>
      </div>

    </div>
    <div v-if="context == 0" id="textForm">
      <div class="card form-card" >
        <div class="card-content">
          <form action="">
            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label">ชื่อ</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="" v-model="user.first_name">
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label">นามสกุล</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="" v-model="user.last_name">
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label">เพศ</label>
                  <div class="control">
                    <div class="select">
                      <select name="" id="" v-model="user.gendar">
                        <option value="ชาย">ชาย</option>
                        <option value="หญิง">หญิง</option>
                      </select>
                    </div>
                    <!-- <input class="input" type="text" placeholder=""> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label">วันเกิด</label>
                  <div class="control">
                    <div class="select" >
                      <select name="" id="" v-model="user.birth_day">
                        <option value="">วัน</option>
                        <option :value="i" v-for="(i) in 31" :key="i">{{i}}</option>
                      </select>
                    </div>

                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label invisible">เดือน</label>
                  <div class="control">
                    <div class="select" >
                      <select name="" id="" v-model="user.birth_month">
                        <option value="">เดือน</option>
                        <option :value="i" v-for="(i) in 12" :key="i">{{i}}</option>

                      </select>
                    </div>

                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label invisible">ปี</label>
                    <div class="select"  >
                      <select name="" id="" v-model="user.birth_year">
                        <option value="">ปี</option>
                        <option :value="y"  v-for="y in year_list" :key="y"> {{y}} </option>
                      </select>
                    </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label">เบอร์โทรศัพท์</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="" v-model="user.tel_no">
                  </div>
                </div>
              </div>
              <div class="column">
                <!-- <div class="field">
                  <label class="label">** เพศ</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="">
                  </div>
                </div> -->
              </div>
    
            </div>
            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label">เลขประจำตัวครู</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="" v-model="user.teacher_id">
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label">เลขประจำประชาชน</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="" v-model="user.citizen_id">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- seccond form -->
      <div class="card form-card" style="margin-top: 24px">
        <div class="card-content">
          <form action="">
            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label">อีเมล</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="" v-model="user.email">
                  </div>
                </div>
              </div>
              <div class="column">
                <!-- <div class="field">
                  <label class="label">รหัสผ่าน</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="" v-model="user.password">
                  </div>
                </div> -->
              </div>

            </div>
            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label">วิทยฐานะ ปัจจุบัน</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="" v-model="user.academic_standing">
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label">มีความประสงค์จะยื่น</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="" v-model="user.academic_wishes">
                  </div>
                </div>
              </div>

            </div>

            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label">โรงเรียน</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="" v-model="user.school_name">
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label">สังกัด</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="" v-model="user.region">
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label">ตำแหน่งปัจจุบัน</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="" v-model="user.role">
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label">ระดับการศึกษา</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="" v-model="user.education">
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label">เลขประจำตำแหน่ง</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="" v-model="user.role_id">
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label">กลุ่มสาระ</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="" v-model="user.subject_group"> 
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label">จำนวนรายวิชาที่สอน</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="" v-model="user.courses_taught">
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label">เงินเดือนปัจจุบัน</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="" v-model="user.salary">
                  </div>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column is-one-third">
                <div class="field">
                  <label class="label">ระดับชั้น</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="" v-model="user.level">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="columns is-pulled-right" style="margin-bottom: 18px; padding-right: 1.5em">
          <div class="column ">
            <button class="button is-rounded" @click="routeTo('home')">ย้อนกลับ</button>
            <button class="button btn-ibook is-rounded">บันทึก</button>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
</template>

<script>
import router from "@/router"
import mocks from '@/store/mocks'
export default {
  data: function() {
    return {
      context: 0,
      "year_list": [2469, 2470, 2471, 2472, 2473, 2474, 2475, 2476, 2477, 2478, 2479, 2480, 2481, 2482, 2483, 2484, 2485, 2486, 2487, 2488, 2489, 2490, 2491, 2492, 2493, 2494, 2495, 2496, 2497, 2498, 2499, 2500, 2501, 2502, 2503, 2504, 2505, 2506, 2507, 2508, 2509, 2510, 2511, 2512, 2513, 2514, 2515, 2516, 2517, 2518, 2519, 2520, 2521, 2522, 2523, 2524, 2525, 2526, 2527, 2528, 2529, 2530, 2531, 2532, 2533, 2534, 2535, 2536, 2537, 2538, 2539, 2540, 2541, 2542, 2543, 2544, 2545, 2546, 2547, 2548, 2549, 2550, 2551, 2552, 2553, 2554, 2555, 2556, 2557, 2558, 2559, 2560],
      user:{
        ...mocks.user[0]
      }
    }
  },
  mounted: function() {
    console.log(mocks);
    
  },
  methods: {
    setContext: function(context){
      this.context = context
    },
    routeTo: (url) => router.push({path: url})
  }
}
</script>

<style lang="scss" scoped>
#header {
  width: 100%;
  background: #344955;
  // height: 250px;
  & > .menu{
    // padding-bottom: 8px;
    margin-left: 18px;
    .item {
      display: inline-block;
      padding: 12px 12px;
      text-align: center;

      &>a{
        // margin-right: 24px;
        font-size: 1.8em;
        color: #fff;
   
      }
      &.active {
        border-bottom: 6px solid #F9AA33 ;
      }
    }
  }
}
</style>
