<template>
  <div id="warpper">
		<header-content :items="[{title: 'ผลการประเมินการปฎิบัติงาน 5 ปี'}]"></header-content>

    <div class="container">
      <div  class="columns is-multiline" style="padding-top: 36px">
        <div 
          v-for="(item, index) in menu" 
          :key="index" 
          class="column is-one-third" 
          style="cursor: pointer"
          @click="setActiveContent(index)">

          <div  class="card book-card " :class="activeContentId == index? 'active': '' ">
            <div class="rounded-circle marker">
              <span>
                {{ index+1 }}
              </span>
            </div>
            <div class="card-image">
              <figure class="image ">
                <img :src="item.image" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <span class="subtitle">
                {{ item.title}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div id="graph" class="card book-card columns graph-display" v-if="activeContentId!=null">
        <div class="column is-one-third left-side">
          <ul  class="has-text-left item-list" >
            <li v-for="(sub, i) in activeContent.subs" :key="i" :class=" i == 0? 'active':''" >
              <a href="" @click.prevent="selectSub(i, $event)">{{sub.title}}</a>
              <ul class="sub-menu" v-if="sub.subs">
                <li v-for="(sub, i) in sub.subs" :key="i" ><a href="" @click.prevent="selectSub(i, $event)">{{sub.title}}</a> </li>
              </ul>
            </li>

          </ul>
        </div>
        <div class="column ">
          <div style="text-align: left; margin-left: 1em;">
            <button class="button btn-of-term" @click="setChartView('line')">
              <font-awesome-icon style="font-size: 24px" icon="chart-line" />
            </button>
            <button class="button btn-of-term" @click="setChartView('pie')">
              <font-awesome-icon style="font-size: 24px" icon="chart-pie" />
            </button>
          </div>
          <div class="chart-line is-centered" v-if="chartView=='line'">

            <chart-line :styles="{margin: 'auto'}" :data="chartData" :options="chartOptions"></chart-line>
          </div>
          <div class="columns" v-if="chartView=='pie'">
            <div class="column">
              <h3 style="color:#344955; font-size: 18px; text-align: left"> คะแนนรวมของแต่ละปีการศึกษา / ปีงบประมาน </h3>
            </div>
          </div>
          <div class="columns is-multiline" v-if="chartView=='pie'">
            <div class="column is-4">
              <chart-circle :height="200" :width="200"  :data="chartData2[0]" :options="chartOptions"></chart-circle>
              ปีการศึกษา 2556
            </div>
            <div class="column is-4">
              <chart-circle :height="200" :width="200"  :data="chartData2[1]" :options="chartOptions"></chart-circle>
              ปีการศึกษา 2557

            </div>
            <div class="column is-4">
              <chart-circle :height="200" :width="200"  :data="chartData2[2]" :options="chartOptions"></chart-circle>
              ปีการศึกษา 2558

            </div>
            <div class="column is-4">
              <chart-circle :height="200" :width="200"  :data="chartData2[3]" :options="chartOptions"></chart-circle>
              ปีการศึกษา 2559
            </div>
            <div class="column is-4">
              <chart-circle :height="200" :width="200"  :data="chartData2[4]" :options="chartOptions"></chart-circle>
              ปีการศึกษา 2560

            </div>
          </div>
          <div style="margin-top: 24px">
            <button class="button is-rounded btn-of-term" @click="setTerm(1)">ภาคเรียนที่ 1</button>
            <button class="button is-rounded btn-of-term" @click="setTerm(2)">ภาคเรียนที่ 2</button>
          </div>
        </div>
      </div>
      <div  class="columns " v-if="activeContentId==null" >
        <div v-for="(item, index) in menu" :key="index" class="column is-one-third" >
          <div  class="card book-card">
            <div class="card-content">
              <ul  class="has-text-left item-list" >
                <li v-for="(sub, i) in item.subs" :key="i" >
                  <a href="" @click.prevent="selectSub(i, $event)">{{sub.title}}</a>
                  <ul class="sub-menu" v-if="sub.subs">
                    <li v-for="(sub, i) in sub.subs" :key="i" ><a href="" @click.prevent="selectSub(i, $event)">{{sub.title}}</a> </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import ChartLine from './ChartLine'
import ChartCircle from './ChartCircle'
import mocks from '@/store/mocks'
export default {
  components: {
    ChartLine, ChartCircle
  },
  data: function() {
    return {
      activeChart: null ,
      activeContentId: null,
      chartView: 'line',
      term: 1,
      chartOptions: { 
        responsive: false, 
        maintainAspectRatio: false, 
        showLines: true, 
        spanGaps: true,
        lineTension: 0
      },
      chartData2: [
        // labels: ['2557', '2558', '2559', '2560', '2561'],

        {
          datasets: [
            {
              backgroundColor: ['#f87979', '#EAEAEA'],
              data: [60,40],
            },
          ]
        },
        {
          datasets: [
            {
              backgroundColor: ['#9013FE', '#EAEAEA'],
              data: [85,15],
            },
          ]
        },
        {
          datasets: [
            {
              backgroundColor: ['#D0021B', '#EAEAEA'],
              data: [75,25],
            },
          ]
        },
        {
          datasets: [
            {
              backgroundColor: ['#50E3C2', '#EAEAEA'],
              data: [40,60],
            },
          ]
        },
        {
          datasets: [
            {
              backgroundColor: ['#F9AA33', '#EAEAEA'],
              data: [50,50],
            },
          ]
        },
      ],
      // chartData2: {
      //   datasets: [
      //     {
      //       // label: 'ประเมิณเอง',
      //       backgroundColor: ['#f87979', '#EAEAEA'],
      //       // borderColor: '#f87979',
      //       data: [70,30],
      //       // fill:false

      //     },
          
      //   ]
      // },
      chartData: {
        labels: ['2557', '2558', '2559', '2560', '2561'],
        datasets: [
          {
            label: 'ประเมิณเอง',
            backgroundColor: '#f87979',
            borderColor: '#f87979',
            data: [1, 2, 3, 4, 5],
            fill:false

          },
          {
            label: 'ผอ.ปรเมิณ',
            backgroundColor: '#adb',
            borderColor: '#adb',
            data: [3, 1, 2, 5, 5],
            fill:false
          }
        ]
      },
      isDisplayGraph: true,
      "items": [],
      menu:[
        {
          "title": "ด้านการจัดการเรียนการสอน",
          "image": "static/imgs/notebook_pencil.png",
          subs : mocks.threetools[0]
        },
        {
          "title": "ด้านการบริหารจัดการชั้นเรียน",
          "image": "static/imgs/board.png",

          subs : mocks.threetools[1]

        },
        {
          "title": "ด้านการพัฒนาตนเองและพัฒนาวิชาชีพ",
          "image": "static/imgs/book_pc.png",
          subs : mocks.threetools[2]  
        },
     
      ]
    }
  },
  methods: {
    setActiveContent: function(id){
      if( id == this.activeContentId ){
        this.activeContentId = null ;
      } else {
        // this.activeContentId = this.menu[id];
        this.activeContentId = id ;
        this.activeContent = this.menu[id] ;
      }
    },
    setChartView(view){
      this.chartView = view;
    },
    setTerm(term){
      this.term = term
    },
    selectSub(key, e){
      console.log(key)
      e.target.parentElement.className += " active";
      if ( this.activeChart!= null ){
        this.activeChart.classList.remove("active");
      }
      this.activeChart = e.target.parentElement ;
      console.log(e.target)
    }
  }
}
</script>

<style lang="scss" scoped>
  button.btn-of-term {
    padding: 0px 8px;
    background: #374857;
    border: 2px solid #374857;
    // border-radius: 16px;
    color: #fff;

    &:focus, &.active{
      background: #fff;
      color: #374857;
    }
  }
  .book-card {


    .marker{
      position: absolute;
      // margin: auto;
      padding: 6px;
      z-index: 7;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      margin-top: -32px;
      margin-left: 40%;
      background-color: orange;
      border: 2px solid orange;

      justify-content: center;

      &>span {
        color: #fff;
        font-size: 2em;
        margin-top: 12px; 
        text-align: center;
      }
    }
    &.active {
      border: 2px solid orange;
      .marker {
          background-color: #fff;
          border: 2px solid orange;
          &>span{
            color: orange;
          }
      }
    }
  }
  .graph-display {
    .left-side {
      box-shadow: 0px 0px 8px #ccc;
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
      padding-left: 0px;
      padding-right: 0px;
      
    }
  }
  
  ul.item-list {
    & ul.sub-menu {
      padding: 0px;
      & > li {
        padding-left: 34px;
        line-height: 2em;
        padding-bottom: 8px;
        padding-top: 8px;
        // padding-left: 24px;
        justify-content: center;
        margin-left: 0px;
        &.active {
          border-left: 4px solid #374857;
          box-shadow: 0px 2px 8px #ccc;
        } 
      }
    }
    &>li {
      justify-content: center;
    }
    & li > a {
      padding-left: 8px;
      display: block;
      font-size: 1.2em;
      color: #363636;
      justify-content: center;
      // border-bottom: 
    }
    &>li>a::before {
      content: "•";
      vertical-align: middle;
      position: relative;
      font-size: 1.2em;
      color: #374857;
      // padding-top: 12px;
      margin-right: 10px;
    }
    &>li.active>a {
      border-left: 4px solid #374857;
      box-shadow: 0px 2px 8px #ccc;
    }    // margin-left: 12px;
  }
  li {
    list-style-type: none;
    & > ul {
      // padding-left: 12px;
      & > li {
        margin-left: 12px;
        // list-style-type: none;
        &::before {
          content: "";
          
        }
      }
    }
  }
  // canvas{
  //   margin: auto;
  // }
</style>
