<template>
  <div id="warpper">
		<header-content :items="[{title: 'หน้าหลัก'}]"></header-content>
    <div class="container">
      <div  class="columns is-multiline" style="padding-top: 36px">
        <div v-for="(item, index) in menu" :key="index" class="column is-one-third" @click="routeTo(item.url)">
          <div  class="card book-card">
            <div class="card-image" >
              <figure class="image is-square">
                <img :src="item.image" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <span class="subtitle">
                {{ item.title}}
              </span>
              
            </div>
          
          </div>

        </div>

      </div>
    </div>

    <!-- <main-card></main-card> -->
  </div>
</template>

<script lang="js">
import router from '../router'

export default {

  data () {
    return {
      "items": [],
      menu:[
        {
          "title": "การมอบหมายงานสอน",
          "image": "static/imgs/book_clip.png",
          "url": "/assignment",

        },
        {
          "title": "ชั่วโมงสอนตามตาราง",
          "image": "static/imgs/calendar.png",
          "url": "/timetable",
        },
        {
          "title": "งานสนับสนุนการจัดการเรียนรู้",
          "image": "static/imgs/book_pencils.png",
          "url": "/learning-support",

        },
        {
          "title": "งานตอบสนองนโยบายและจุดเน้น",
          "image": "static/imgs/book_folder.png",
          "url": "/responsive",

        },

        {
          "title": "การพัฒนาตามที่ ก.ค.ศ.กำหนด",
          "image": "static/imgs/graph.png",
          "url": "/development",

        }, 
        {
          "title": "ชุมชนการเรียนรู้ทางวิชาชีพ(PLC)",
          "image": "static/imgs/book.png",
          "url": "/plc",
        },
        {
          "title": "ผลการประเมิณการปฏิบัติงาน 5 ปี",
          "image": "static/imgs/book_cal.png",
          "url": "/5year",

        },
        {
          "title": "สรุป Smart Teacher Report System",
          "image": "static/imgs/pc.png",
          "url": "/summary",

        },
        // {
        //   "title": "ข้อมูล วฐ.2",
        //   "image": "static/imgs/book_pc.png",
        //   "url": "/academic",
        // },      
      ]
    }
  },
  created: function(){
    // console.log('====================================');
    // console.log(this.$store.state.Resource.testurl);
    // console.log('====================================');
  },
  methods: {
    sendData(e) {
      console.log(this.text, e);
      
      electron.ipcRenderer.send('ping')
      axios.get("https://randomuser.me/api/?seed=${seed}&page=${page}&results=5")
      .then((res) =>{
        console.log(res);
        this.items = res.data.results
      })
      .catch((err)=>{
        console.log(err);
      })
      // console.log($emit.data.text);
    },
  
    routeTo(url){
      // console.log("dasd");
      router.push({ path: url})
    }
  }
}
</script>


<style lang="scss" >


</style>


