<template>
  <div id="content" class="mt-5">
    <div class="container-fluid">
      <div class="row" >
        <div class="col-8 offset-2">
          <!-- <h1> ขั้นตอนที่: {{step}}</h1> -->
          <div class="card" >
            <div class="card-body" >
                <form action="">
                    <label class="label " for="">หมายเลข IP ของ Server</label>

                  <div class="field ">
                    <input type="text" class="input is-rounded bg-grey1 placeholder-black input-shadow"  v-model="server">
                  </div>
                  
                  <div class="is-centered" >
                    <!-- <button to="login" type="button" class="btn btn-primary mr-auto" > เชื่อมต่อ</button> -->
                    <button @click="connect" type="button" class="button is-rounded bg-orage1 color-black input-shadow no-border" > เชื่อมต่อ</button>
                    <!-- <router-link to="/login" class="btn btn-primary" tag="li">login</router-link> -->

                  </div>
                </form>
            </div>
          </div>
        </div>
      

      </div>

      <div class="row" v-if="state=='login'">
        <div class="col-6 offset-3">
          <h1 class="text-center">เข้าสู่ระบบ</h1>
          <form action="">
            <div class="form-group">
              <label for="">ID:</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="">Password:</label>
              <input type="password" class="form-control">
            </div>
            <div class="text-center">
              <button class="btn btn-primary">เข้าสู่ระบบ</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</template>

<script>

const axios = require('axios')
const Swal = require('sweetalert2')
import router from '../router'

export default {
  name: 'home-page',

  data () {
    return {
      text: "het",
      state: "install",
      "items": [],
      step: 1,
      server: "schoolmis",
      swalFail: {
        title: 'ล้มเหลว',
        text: 'ไม่สามารถเชื่อมต่อกับเซิฟเวอร์ได้',
        type: 'error',
        // showCancelButton: true,
        confirmButtonText: 'กลับไป',
        // cancelButtonText: 'No, keep it'
      },
      swalSuccess: {
        title: 'สำเร็จ',
        text: 'เชื่อมต่อสำเร็จ',
        type: 'success',
        // showCancelButton: true,
        confirmButtonText: 'ถัดไป',
        // cancelButtonText: 'No, keep it'
      }
    }
  },
  beforeCreate() {
    if( this.$store.state.global.install == true) {
      router.push('/login')
    }
  },
  created: function(){
    console.log('====================================');
    // console.log("created", process);
    console.log('====================================');
  },
  methods: {
    onConnectSuccess: function(res) {
      if(this.server == 'schoolmis' && res) {
        router.push({path:"/login"})
        // console.log(this.$routes)
        this.$store.commit('set_install', true )
      }
    },
    connect: function() {
      if( this.server == 'schoolmis') {
        Swal(this.swalSuccess)
        .then( (res) => {this.onConnectSuccess(res)});
      } else {
        Swal(this.swalFail);
      }

    }
  }
}
</script>


<style lang="scss" scoped>
 @import '~bulma/css/bulma.css';
  .no-border {
    border: none !important;
  }
  .input {
    border: grey;

    &:focus {
      border: grey;
    }
  }
  .input-shadow {
    box-shadow: 0px 2px 8px grey;
  }
  .mb-n {
    margin-bottom: 18px;
  }
  .logo-warpper {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .logo {
    margin: auto;
    widows: 120px;
    height: 120px;
  }
  /* @import '~bootstrap/dist/css/bootstrap.min.css'; */
  .placeholder-black {
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgb(46, 46, 46);
      opacity: 0.8; /* Firefox */
    }
  }

  .bg-grey1 {
    background-color:#EFEFF0 !important; 

  }
  .bg-orage1 {
    background-color: #F9B500 !important; 
  }
  .color-white {
    color: #fff ;
  }
  .card {
    border-radius: 1em;
    padding: 0.8em 2.4em;
    margin: auto;
    width: 360px;
  }
  .border-bottom {
    border-bottom: 5px solid blue !important ;
  }
  /* @import "/dist/bootstrap-4.1.3/css/bootstrap.min.css"; */
  #content {
    height: 720px;
    background: #374857;
    padding-top: 180px;

  }
</style>

