<template>
  <div id="warpper">
    <!-- {{ window.location }} -->
  </div>
</template>
<script>

// var Datastore = require('nedb')
//   , db = new Datastore();
// import db from '@/storage';
// console.log(db);
import router from '@/router'
export default {  
  mounted() {
    let install = this.$store.state.global.auth;
    let auth = this.$store.state.global.install;
    
    if (install && auth){
      router.push({path:"/home"})
    } else if( !install ) {
      router.push({path:"/installation"})
    } else {
      router.push({path:"/login"})
    } 
  },
  data: () => {
    return {
      window: window
    }
  }
}
</script>
