<template>
  <div id="content"> 
    <div class="card">
      <div style="" class="logo-warpper">
      <img :src="image" alt="" class="logo">
 
      </div>
      <form action="">
        <div class="field mb-n">
          <input
           v-model="id"
           class="input is-rounded bg-grey1 placeholder-black input-shadow" type="text" placeholder="เลขประจำตัว">            
        </div>
        <div class="field mb-n">
          <input
           v-model="password"

           class="input is-rounded bg-grey1 placeholder-black input-shadow" type="password" placeholder="รหัสผ่าน">            
        </div>
        <div class="field mb-n">
          <button type="button" @click="login" class="button is-rounded is-fullwidth bg-orage1 color-black input-shadow no-border">เข้าสู่ระบบ</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="js">

import router from '@/router';
const Swal = require('sweetalert2')

export default {

  mounted: function(){
    // this.$store.commit('set_nav', false);
    console.log(this.$store.state.global);
    
  },
  data() {
    return {
      image: 'static/imgs/logo.png',
      id: "",
      password: "",
      fixed_id: "1234567891011",
      fixed_password: "1234567891011",
      // fixed_id: "1",
      // fixed_password: "1",
      swalFail: {
        title: 'ล้มเหลว',
        text: 'กรุณาตรวจสอบข้อมูลของท่าน',
        type: 'error',
        // showCancelButton: true,
        confirmButtonText: 'ลองใหม่',
        // cancelButtonText: 'No, keep it'
      },
      swalSuccess: {
        title: 'สำเร็จ',
        text: 'เข้าสู่ระบบสำเร็จ',
        type: 'success',
        // showCancelButton: true,
        confirmButtonText: 'ถัดไป',
        // cancelButtonText: 'No, keep it'
      }
    }
  },
  methods: {
    onLoginSuccess: function(res){
      // console.log(this.$route)
      if( this.id == this.fixed_id && this.password == this.fixed_password) {
        router.push({path:"/5year"})
        console.log(this.$route)
        this.$store.commit('set_auth', true )
      }
    },
    login: function(e){

      if( this.id == this.fixed_id && this.password ==  this.fixed_password) {
        Swal(this.swalSuccess)
        .then( (res) =>{ this.onLoginSuccess(res)} );
      } else {
        Swal(this.swalFail);
      }
      // this.$router.push({path: "home" })
      // this.$router.push("/home")
    }
  }
}
</script>

<style scoped lang="scss">
  @import '~bulma/css/bulma.css';
  .no-border {
    border: none !important;
  }
  .input {
    border: grey;

    &:focus {
      border: grey;
    }
  }
  .input-shadow {
    box-shadow: 0px 2px 8px grey;
  }
  .mb-n {
    margin-bottom: 18px;
  }
  .logo-warpper {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .logo {
    margin: auto;
    widows: 120px;
    height: 120px;
  }
  /* @import '~bootstrap/dist/css/bootstrap.min.css'; */
  .placeholder-black {
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgb(46, 46, 46);
      opacity: 0.8; /* Firefox */
    }
  }

  .bg-grey1 {
    background-color:#EFEFF0 !important; 

  }
  .bg-orage1 {
    background-color: #F9B500 !important; 
  }
  .color-white {
    color: #fff ;
  }
  .card {
    border-radius: 1em;
    padding: 0.8em 2.4em;
    margin: auto;
    width: 360px;
  }
  .border-bottom {
    border-bottom: 5px solid blue !important ;
  }

  #content {
    height: 720px;
    background: #374857;
    padding-top: 180px;

  }
</style>

