<template>
	<div id="warpper">
		<header-content :items="[
		{title: 'สรุป iLogbook', active:true},
		{title: 'แบบบันทึกเพื่อกรอกแบบ วฐ2', route: '/academic' },
		]">
			
		</header-content>
		<div class="container">
			<div class="columns">
				<div class="column">
					<div class="is-pulled-right">
						<button @click="exportDoc" class="button inverse btn-ibook" >Export เอกสาร</button>
						<!-- <button class="button btn-ibook" @click="routeTo('assignment/create')">เพิ่มเอกสาร</button> -->
					</div>
					<div class="is-clearfix"></div>

				</div>
			</div>
			<div class="columns">
				<div class="column" style="text-align: center;">
					<table class="table is-striped i-bordered is-hoverable is-fullwidth">
						<thead>
							<tr>
								<th>ปีที่</th>
								<th>ตั้งแต่วันที่</th>
								<th>ถึงวันที่</th>
								<th>สอนตามตาราง</th>
								<th>ตรวจสอบชั่วโมงขั้นต่ำ/สัปดาห์</th>
								<th>สนับสนุนการจัดการเรียนรู้</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(item, i) in items" :key="i">
								<td>{{item.year_no}}</td>
								<td>{{item.start_date}}</td>
								<td>{{item.end_date}}</td>
								<td>{{item.education_agency}}</td>
								<td>{{item.teaching_count}}</td>
								<td>{{item.teaching_count_per_week}}</td>
								<td>{{item.support_learning}}</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</template>


<script>
	import mocks from "@/store/mocks" ;
	import router from "@/router";
	import {ipcRenderer} from "electron"
	
	export default {
		data() {
			return {
				items: mocks.summary,
			}
		},
		created: function() {

		},
		methods:{
			routeTo: (url) => {
				router.push({path: url})
			},
			exportDoc() {
				// window.open("static/files/export.xlsm");
				document.location.href = "static/files/export.xlsm";
	
			}
		}
	}
	
</script>
<style lang="scss" scoped>
tr {
	width: 100%;
}
</style>
