<template>
  <div id="header">
    <ul class="menu">
      <li class="item" 
        :class="item.active ? 'active': ''" 
        v-for="(item, k) in items" 
        :key="k">
        <a @click.prevent="actionTo(item.route)" href="">
          {{ item.title}}
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
  import router from '@/router'
  export default {
    data() {
      return {
        active: 0
      }
    },
    props: [
      'items',
      // 'active'
    ],
    created() {
      console.log(this.items);
    },
    methods: {
      actionTo(param){
        // this.active = 0
        if( param !== 'undefined' && typeof(param) == 'string'){
          console.log(param);
          router.push(param)
        } else {
          
        }
        
      }
    }
  }
</script>

<style lang="scss" scoped>
#header {
  width: 100%;
  background: #344955;
  // height: 250px;
  & > .menu{
    // padding-bottom: 8px;
    margin-left: 18px;
    .item {
      display: inline-block;
      padding: 12px 12px;
      text-align: center;

      &>a{
        // margin-right: 24px;
        font-size: 1.8em;
        color: #fff;
   
      }
      &.active {
        border-bottom: 6px solid #F9AA33 ;
      }
    }
  }
}
</style>
