<template>
  <div id="leftNav" class="is-clearfix" v-if="isShow" >
    <figure class="image is-48x48" style="margin-top:20px; text-align:center" @click="routeTo('/home')">
      <img class="is-rounded" :src="'static/imgs/teacher.png'">
    </figure>
    <ul class="menu">
      <li>
        <a href="" @click.prevent="routeTo('/home')">
          <font-awesome-icon  style="font-size: 24px" icon="home" /> 
        </a>
      </li>
      <li>
        <a href="" @click.prevent="routeTo('/edit-profile')">
          <font-awesome-icon  style="font-size: 24px" icon="user-cog" /> 
        </a>
      </li>
      <li>
        <a href="">
          <font-awesome-icon style="font-size: 24px" icon="info-circle" /> 
        </a>
      </li>
      <li>
        <a href="">
          <font-awesome-icon style="font-size: 24px" icon="play-circle" /> 
        </a>
      </li>
      <li class="" >
        <a href="" @click="logout()">
          <font-awesome-icon style="font-size: 24px" icon="sign-out-alt" /> 
        </a>
      </li>
    </ul>
  </div>

</template>

<script>
import router from "@/router";
export default {
  // props: ['isShow'],
  mounted() {

    console.log("mounted isShow",this.isShow);
    // console.log(this.$store.state.global.exceptShowNavPath.indexOf(this.current_path));
    
  },
  computed: {
    // isShow() {
    //   console.log("show left nav",this.$store.state.global.exceptShowNavPath.indexOf(this.current_path) == -1);
    //   return (this.$store.state.global.exceptShowNavPath.indexOf(this.current_path) == -1) ;
      
    // }
  },
  data() {
    return {
      current_path: this.$route.path
    };
  },
  created() {
    // let route_name = router.currentRoute.name;
    // return this.except.indexOf(route_name) == -1 ;
    // this.isShow = this.except.indexOf(route_name) == -1 ;
  },
  computed: {
    isShow() {
      let current_path = this.$route.path;
      return (this.$store.state.global.exceptShowNavPath.indexOf(current_path) == -1) ;
    }
  },
  methods: {
    clicked: function(e) {
      console.log(this.$store.state.Resource.isShowNav);
      this.$store.dispatch("toggleNav");
    },
    routeTo(url) {
      // console.log("dasd");
      router.push(url);
    },
    logout() {
      router.push({path: '/login'});
    }
  }
};
</script>


<style scoped lang="scss">
#leftNav {
  background-color: orange;
  text-align: center;
  padding: 0.7em;
  position: fixed;
  width: 70px;
  height: 100%;
  min-height: 720px;
  display: block;
  // box-shadow: 4px 0px 2px rgba(10, 10, 10, 0.1);
  // position: absolute !important;
  ul.menu {
    margin-top: 36px;
  }
  & li {
    text-align: center;
    margin-top: 24px;
    & > a {
      color: #263337;
      &:hover {
        // opacity: 0.8;
        color: #050607;
        
      }
    }

  }
}
</style>

