<template>
  <div id="warpper">
    <div class="container">
      <div class="card form-card">
        <div class="card-content">
          <!--  -->
          <div class="columns">
            <div class="column is-8">
              <div class="field">
                <label class="label">ปีที่</label>
                <input type="text" class="input">
              </div>
            </div>
            <div class="column is-4">
              <div class="field">
                <label for="" class="label">ภาคเรียน</label>
                <div class="select">
                  <select>
                    <option>1</option>
                    <option>2</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="columns">
            <div class="column is-4">
              <div class="field">
                <label for="" class="label">วัน/เดือน/ปี แรกของการบันทึกในภาคเรียน</label>
                <div class="control has-icons-left">
                  <input class="input is-success" type="text" placeholder="" >
                  <span class="icon is-small is-left">
                    <font-awesome-icon icon="calendar-alt"></font-awesome-icon>
                  </span>
                </div>              
              </div>
            </div>
            <div class="column is-4">
              <div class="field">
                <label for="" class="label">วัน/เดือน/ปี สุดท้ายของการบันทึกในภาคเรียน</label>
                <div class="control has-icons-left">
                  <input class="input is-success" type="text" placeholder="" >
                  <span class="icon is-small is-left">
                    <font-awesome-icon icon="calendar-alt"></font-awesome-icon>
                  </span>
                </div>
              </div>
            </div>
            <div class="column is-4">
              <div class="field">
                <label class="label">ชั่วโมงสอนตามตาราง</label>
                <input class="input" type="text" placeholder="" >
              </div>
            </div>
          </div>
          <!--  -->
          <div class="columns">
            <div class="column is-4">
              <div class="field">
                <label for="" class="label">ชั่วโมงงานสนับสนุนการจัดการเรียนรู้</label>
                <input type="text" class="input">
              </div>             
            </div>
            <div class="column is-4">
              <div class="field">
                <label for="" class="label">ชั่วโมงงานตอบสนองนโยบายและจุดเน้น</label>
                <input type="text" class="input">
              </div>             
            </div>
            <div class="column is-4">
              <div class="field">
                <label for="" class="label">ชั่วโมง PLC</label>
                <input type="text" class="input">
              </div>             
            </div>
          </div>
          <!--  -->
          <div class="columns">
            <div class="column is-4">
              <div class="field">
                <label for="" class="label">รวมชั่วโมง</label>
                <input type="text" class="input">
              </div>             
            </div>
            
          </div>
          <!--  -->
          <div class="columns is-pulled-right" style="margin-bottom: 18px; padding-right: 1.5em">
            <div class="column ">
              <button class="button is-rounded" @click="routeTo('/academic')">ย้อนกลับ</button>
              <button class="button btn-ibook is-rounded">บันทึก</button>
            </div>
          </div>



        </div>
      </div> 

    </div>
  </div>
  
</template>
<script > 
import router from "@/router"
export default {
  data() {
    return {
      images: [
        {
          name: "1.abc"
        },
        {
          name: "2.asd"
        },
        {
          name: "3.abdc"
        },
        {
          name: "4.aasdbc"
        },

      ]
    }
  },
  methods: {
    routeTo: (url) => {
      router.push({path: url})
    },
    appendImage: function() {
      this.images.push({
        name: ""
      })
    },
    removeImage: function(index) {
      console.log(index);
      // this.images.splice(this.images.indexOf(index), 1);
      this.$delete(this.images, index)
      // delete(this.images[index]);
    }
  }
}

</script>
<style lang="scss" scoped>
  .file {
    margin-bottom: 8px;
  }
</style>
