<template>
  <div id="warpper">
		<header-content :items="[{title: 'ชั่วโมงสอนตามตาราง'}]"></header-content>

    <div class="container">
      <div class="card form-card">
        <div class="card-content">
          <!--  -->
          <div class="columns">
            <div class="column is-3">
              <div class="field">
                <label class="label">ว/ด/ป สุดท้ายของสัปดาห์</label>
                <div class="control has-icons-left">
                  <input class="input is-success" type="text" placeholder="" >
                  <span class="icon is-small is-left">
                    <font-awesome-icon icon="calendar-alt"></font-awesome-icon>
                  </span>
                </div>
              </div>
            </div>
            <div class="column is-3">
              <div class="field">
                <label for="" class="label">ชื่อหลักสูตร</label>
                <input type="text" class="input">
              </div>
            </div>
            <div class="column is-3">
              <div class="field">
                <label for="" class="label">รหัสหลักสูตร</label>
                <input type="text" class="input">
              </div>
            </div>
            <div class="column is-3">
              <div class="field">
                <label for="" class="label">หน่วยพัฒนา</label>
                <input type="text" class="input">
              </div>
            </div>
          </div>

          <!--  -->
          <div class="columns">
            <div class="column ">
              <div class="field">
                <label for="" class="label">ความรู้</label>
                <textarea class="textarea" name="" id="" rows="3"></textarea>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="columns">
            <div class="column ">
              <div class="field">
                <label for="" class="label">ทักษะ</label>
                <textarea class="textarea" name="" id="" rows="3"></textarea>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="columns">
            <div class="column ">
              <div class="field">
                <label for="" class="label">ความเป็นครู</label>
                <textarea class="textarea" name="" id="" rows="3"></textarea>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="columns">
            <div class="column">
              <div class="field">
                <label for="" class="label">จำนวนชั่วโมงที่อบรมในหลักสูตร</label>
                <input type="text" class="input">
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label">ว/ด/ป สุดท้ายของสัปดาห์</label>
                <div class="control has-icons-left">
                  <input class="input is-success" type="text" placeholder="" >
                  <span class="icon is-small is-left">
                    <font-awesome-icon icon="calendar-alt"></font-awesome-icon>
                  </span>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label for="" class="label">ระยะเวลาที่เข้ารับการอบรม (จำนวนวัน)</label>
                <input type="text" class="input">
              </div>
            </div>
          </div>
          <!--  -->
          <div class="columns">
            <div class="column is-4">
              <div class="field">
                <label for="" class="label">ใช้สำหรับขอ/เลื่อนวิทยาฐานะระดับ ครู</label>
                <input type="text" class="input">
              </div>
            </div>
            <div class="column is-8">
              <div class="field">
                <label class="label">ผลการพัฒนา</label>
                  <input class="input is-success" type="text" placeholder="" >

              </div>
            </div>

          </div>
          <!--  -->
          <div class="columns is-pulled-right" style="margin-bottom: 18px; padding-right: 1.5em">
            <div class="column ">
              <button class="button is-rounded" @click="routeTo('/plc')">ย้อนกลับ</button>
              <button class="button btn-ibook is-rounded">บันทึก</button>
            </div>
          </div>



        </div>
      </div> 

    </div>
  </div>
  
</template>
<script > 
import router from "@/router"
export default {
  data() {
    return {
      images: [
        {
          name: "1.abc"
        },
        {
          name: "2.asd"
        },
        {
          name: "3.abdc"
        },
        {
          name: "4.aasdbc"
        },

      ]
    }
  },
  methods: {
    routeTo: (url) => {
      router.push({path: url})
    },
    appendImage: function() {
      this.images.push({
        name: ""
      })
    },
    removeImage: function(index) {
      console.log(index);
      // this.images.splice(this.images.indexOf(index), 1);
      this.$delete(this.images, index)
      // delete(this.images[index]);
    }
  }
}

</script>
<style lang="scss" scoped>
  .file {
    margin-bottom: 8px;
  }
</style>
