<template>
  <div id="warpper">
    <div class="container">
      <div class="card form-card">
        <div class="card-content">
          <!--  -->
          <div class="columns">
            <div class="column is-9">
              <div class="field">
                <label for="" class="label">ชื่อกลุ่มกิจกรรม</label>
                <input type="text" class="input" v-model="data.group_name">
              </div>
            </div>
            <div class="column is-3">
              <div class="field">
                <label for="" class="label">จำนวนสมาชิก</label>
                <input type="text" class="input" v-model="data.member_count">
              </div>
            </div>
          </div>
          <!-- sadss -->
          <div class="columns">
            <div class="column is-four-fifths">
              <div class="field">
                <label for="" class="label">ชื่อกิจกรรม</label>
                <input type="text" class="input" v-model="data.name">
              </div>
            </div>
            <div class="column is-one-fifth">
              <div class="field">
                <label for="" class="label">ครั้งที่จัด</label>
                <input type="text" class="input" v-model="data.time">
              </div>
            </div>
          </div>
          <!--  -->
          <div class="columns">
            <div class="column">
              <div class="field">
                <label for="" class="label">วัน/เดือน/ปี ที่จัดกิจกรรม</label>
                <datepicker ></datepicker>
                <div class="control has-icons-left">
                  <input class="input " type="text" placeholder="" v-model="data.activity_date" >
                  <span class="icon is-small is-left">
                    <font-awesome-icon icon="calendar-alt"></font-awesome-icon>
                  </span>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label for="" class="label">ภาคเรียนที่</label>
                <div class="control">
                  <div class="select">
                    <select v-model="data.term">
                      <option value="1">1</option>
                      <option value="2">2</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label for="" class="label">ปีการศึกษา</label>
                <input type="text" class="input" v-model="data.school_year">
              </div>
            </div>
          </div>
          <!--  -->
          <div class="columns">
            <div class="column is-6">
              <div class="field">
                <label for="" class="label">จำนวนชั่วโมง</label>
                <input type="text" class="input">
              </div>
            </div>
            <div class="column ">
              <div class="field">
                <label for="" class="label invisible">invi label</label>
                <p style="color: red;">*</p>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="columns">
            <div class="column ">
              <div class="field">
                <label for="" class="label">บทบาทหน้าที่ของท่าน</label>
                <textarea class="textarea" name="" id="" rows="3"></textarea>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="columns">
            <div class="column ">
              <div class="field">
                <label for="" class="label">บทบาทหน้าที่ของท่าน</label>
                <input type="text" class="input">
              </div>
            </div>
            <div class="column ">
              <div class="field">
                <label for="" class="label">ประเด็น</label>
                <input type="text" class="input">
              </div>
            </div>
          </div>
          <!--  -->
          <div class="columns">
            <div class="column ">
              <div class="field">
                <label for="" class="label">สาเหตุ</label>
                <textarea class="textarea" name="" id="" rows="3"></textarea>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="columns">
            <div class="column ">
              <div class="field">
                <label for="" class="label">ความรู้/หลักการที่นำใช้</label>
                <textarea class="textarea" name="" id="" rows="3"></textarea>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="columns">
            <div class="column ">
              <div class="field">
                <label for="" class="label">ผลที่ได้จากกิจกรรม</label>
                <textarea class="textarea" name="" id="" rows="3"></textarea>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="columns">
            <div class="column ">
              <div class="field">
                <label for="" class="label">การนำผลที่ได้ไปใช้</label>
                <textarea class="textarea" name="" id="" rows="3"></textarea>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="columns">
            <div class="column">
              <label for="" class="label">asdasd</label>
              <div id="fileGroup" class="file-input-group">
                <div v-for="(item, i) in images" :key="i" class="file has-name is-fullwidth" >
                  <label class="file-label">
                    <input class="file-input" type="file" name="resume">
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span class="file-label">
                        เลือกไฟล์
                      </span>
                    </span>
                    <span class="file-name">
                      <!-- Screen Shot 2017-07-29 at 15.54.25.png -->
                      {{item.name}}
                    </span>
                  </label>
                  <button class="button danger is-danger" @click="removeImage(i)">
                    <span class="icon is-small">
                      <!-- <i class="fas fa-heading"></i> -->
                      <font-awesome-icon icon="times" />
                    </span>
                  </button>
                </div>
                <div class="column">
                  <button class="button danger is-success" @click="appendImage">
                    <span class="icon is-small">
                      <!-- <i class="fas fa-heading"></i> -->
                      <font-awesome-icon icon="plus" />
                    </span>
                  </button>
                </div>
              </div>
              
            </div>

          </div>
          <!--  -->
          <div class="columns is-pulled-right" style="margin-bottom: 18px; padding-right: 1.5em">
            <div class="column ">
              <button @click="routeTo('/plc')" class="button is-rounded">ย้อนกลับ</button>
              <button class="button btn-ibook is-rounded">บันทึก</button>
            </div>
          </div>


        </div>
      </div> 

    </div>
  </div>
  
</template>
<script > 
import mocks from '@/store/mocks'


export default {
  data() {
    return {
      id: this.$router.currentRoute.params.id,
      data: mocks.plc[this.$router.currentRoute.params.id],
      images: [
        {
          name: "1.abc"
        },
        {
          name: "2.asd"
        },
        {
          name: "3.abdc"
        },
        {
          name: "4.aasdbc"
        },

      ]
    }
  },
  mounted() {
    console.log(this.data);
    
  },
  methods: {
    routeTo(url){
      this.$router.push(url)
    },
    appendImage: function() {
      this.images.push({
        name: ""
      })
    },
    removeImage: function(index) {
      console.log(index);
      // this.images.splice(this.images.indexOf(index), 1);
      this.$delete(this.images, index)
      // delete(this.images[index]);
    }
  }
}

</script>
<style lang="scss" scoped>
  .file {
    margin-bottom: 8px;
  }
</style>
