<template>
	<div id="warpper">
		<header-content :items="headers"></header-content>

		<div class="container">
			<div class="columns">
				<div class="column">
					<div class="is-pulled-right">
						<button @click="exportDoc" class="button inverse btn-ibook" >Export เอกสาร</button>
						<button class="button btn-ibook" @click="routeTo('plc/create')">เพิ่มเอกสาร</button>
					</div>
					<div class="is-clearfix"></div>

				</div>
			</div>
			<div class="columns">
				<div class="column" style="text-align: center;">
					<table class="table is-striped i-bordered is-hoverable is-fullwidth">
						<thead>
							<tr>
								<th>รหัสเอกสาร</th>
								<th>ชื่อกลุ่มกิจกรรม</th>
								<th>จำนวนสมาชิก</th>
								<th>ชื่อกิจกรรม</th>
								<th>ครั้งที่</th>
								<th>ว/ด/ป ที่จัดกิจกรรม</th>
								<th>จัดการเอกสาร</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(item, i) in items" :key="i">
								<td>{{item.id}}</td>
								<td>{{item.group_name}}</td>
								<td>{{item.member_count}}</td>
								<td>{{item.name}}</td>
								<td>{{item.time}}</td>
								<td>{{item.date}}</td>
								<td>
									<a href="" class="i-icon" @click.prevent="routeTo(`/plc/edit/${i}`)"> <font-awesome-icon icon="edit"></font-awesome-icon> </a>
									<a href="" class="i-icon"> <font-awesome-icon icon="trash"></font-awesome-icon> </a>
								</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import mocks from "../../../store/mocks" ;
	import router from "@/router";
	
	export default {
		data() {
			return {
				items: mocks.plc,
				headers: [
					{
						title: "ชุมชนการเรียนรู้ทางวิชาชีพ (Professional Learning Community :PLC)"
					}
				]
			}
		},
		created: function() {

		},
		methods:{
			routeTo: (url) => {
				// console.log(url);
				router.push({path: url})
			},
						exportDoc() {
				document.location.href = "static/files/export.xlsm";
			}
		}
	}
	
</script>
<style lang="scss" scoped>
tr {
	width: 100%;
}
</style>
