<template>
  <div id="app">
    <left-sidenav :isShow="showNav"></left-sidenav>
    <router-view></router-view>
  </div>
</template>

<script>
  import LeftSidenav from './components/Layouts/LeftSidenav'
  import {db, teacher} from '@/storage'
  export default {
    components: { LeftSidenav },
    beforeCreate() {
      // db.serialize(function(){
      //   db.run(`DROP TABLE IF EXISTS users`)
      //   db.run(`CREATE TABLE IF NOT EXISTS users  (
      //     first_name VARCHAR(255),
      //     last_name VARCHAR(255),
      //     brith_day INT(2),
      //     brith_moonth INT(2),
      //     brith_year INT(4),
      //     gendar VARCHAR(155),
      //     tel_no VARCHAR(15),
      //     teacher_id INT(11),
      //     citizen_id VARCHAR(13),
      //     email VARCHAR(255),
      //     password VARCHAR(255),
      //     academic_standing VARCHAR(255),
      //     academic_wishes VARCHAR(255),
      //     school_name VARCHAR(255),
      //     region VARCHAR(255),
      //     role VARCHAR(255),
      //     education VARCHAR(255),
      //     role_id INT(11),
      //     subject_group VARCHAR(255),
      //     courses_taught INT(4),
      //     salary INT(11),
      //     level VARSHAR(255)
        
      //     )`);
      //   // var count = 1;
      //   var mem = ["ศิริพร", "สมประสงค์", 20, 3, 2527, "ชาย", "0872232223", "1111111", "1234567891011", "sompasong@mail.com", "123456", "ครูผู้ช่วย", "ครู คศ. 1", "สมประสงค์วิทยา", "เขต 4", "ครู", "ปริญญาตรี", "25", "วิทยาศาสตร์", "5", "19000", ""]
      //   let placeholders = mem.map((mem) => '?').join(', ')
      //   console.log(placeholders);
        
      //   db.run(`INSERT INTO users VALUES`+`(`+placeholders+`)`, mem )

      //   db.all(`SELECT * FROM users`, [], (err, rows) => {
      //     if (err) {
      //       throw err;
      //     }
      //     if(rows.length == 0 ){
      //       // console.log(0);
      //       var mem = ["ศิริพร", "สมประสงค์", "20", "3", "2527", "ชาย", "0872232223", "1111111", "1234567891011", "sompasong@mail.com", "123456", "ครูผู้ช่วย", "ครู คศ. 1", "สมประสงค์วิทยา", "เขต 4", "ครู", "ปริญญาตรี", "25", "วิทยาศาสตร์", "5", "19000", ""]
      //       let row = []
      //       // Object.keys(teacher[0]).forEach(function(k){
      //       //   mem.push(teacher[0][k])
      //       // })
      //       // console.log(mem);
            
      //       // teacher.forEach(function(item) {
      //       //   // console.log(item);
      //       //   let row = []
      //       //   Object.keys(item).forEach(function(k){
      //       //     row.push(item[k])
      //       //   })
      //       //   st.run(row.join());
      //       // });

      //       // mem = mem.join();
      //       // console.log(mem);
      //     }

      //   });
      //   // beg
      //   console.log("ss");

      //   db.serialize(function(){
      //     db.all(`SELECT * FROM users`, [], (err, rows) => {
      //       if (err) {
      //         throw err;
      //       }
      //       console.log("ss",rows);
      //     });

      //   })

      //   db.run(`DROP TABLE IF EXISTS installation`)

      //   db.run("CREATE TABLE IF NOT EXISTS installation  (status boolean)");
      //   db.all(`SELECT * FROM installation`, [], (err, rows) => {
      //     if (err) {
      //       throw err;
      //     }
      //     if(rows.length == 0 ){
      //       db.run("INSERT INTO installation(status) VALUE(0)");
      //       console.log("inserted installation");
      //     } else {
      //       console.log("already have inserted installation");
      //     }
      //   });
      //   // console.log("ended");
        
      // })
      // db.close();

    },
    data() {
      return {
        current_path:this.$route.path
      }
    },
    name: 'smart-teacher-report-system',
    computed:{
      showNav() {
          console.log(this.$route.path);
          console.log(this.$store.state.global.exceptShowNavPath.indexOf(this.current_path));
          return (this.$store.state.global.exceptShowNavPath.indexOf(this.current_path) == -1) ;
        // return this.except.indexOf(route_name) == -1 ;
      },
    },
    mounted() {
      console.log("mounted App");
      this.current_path = this.$route.path
      console.log(this.$route.path);
      console.log(this.$store.state.global.exceptShowNavPath.indexOf(this.current_path));
    
      // console.log("App00", this.$route);
      // console.log("current path", window.location.href);
      // console.log(this.$route.path);
      
    },  
  }
</script>

<style lang="scss">
  /* CSS */
  $color-main-shadow : rgba(10, 10, 10, 0.1);
  $border-shadow: rgba(128, 128, 128, 0.5);
  .bg-primary {
    background: #374857;
  }

  .container {
    padding: 24px 24px 24px 24px;
    min-height: 720px;
    
  }

  .book-card {
    border: 2px solid #fff;
    // border: none;
    cursor: pointer;
    border-radius: 16px;
    width: 100%;
    display: inline-block;
    margin-left: 0.45rem;
    margin-bottom: 0.45rem;
    text-align: center;
    box-shadow: 0px 6px 3px rgba(10, 10, 10, 0.1);
    // .image{
    //   // padding: 18px
    //   height: 100%;
    // }
    // img {
    //   max-width: 100% !important
    // }
  }

  .i-icon {
    color: #9B9B9B,
    
  }

  .i-bordered {
    border-radius: 2px;
    // text-align: left;
    width: 100%;
    // display: inline-block;
    margin-left: 0.45rem;
    margin-bottom: 0.45rem;
    border: none;
    box-shadow: 0px 0px 8px rgba(128, 128, 128, 0.5);
  }

  .form-card {
    border-radius: 16px;
    text-align: left;
    width: 100%;
    display: inline-block;
    margin-left: 0.45rem;
    margin-bottom: 0.45rem;
    border: none;
    box-shadow: 0px 0px 8px rgba(128, 128, 128, 0.5);
    // .invisible
    label.invisible {
      color: #fff;
    }
    .select{
      width: 100%;
      max-width: 100%;
      select {
        width: 100%;
        max-width: 100%;

      }
    }
    .textarea {
      // border-radius: 2px;
      resize: none;
      border: none;
      box-shadow: 0 0 4px $border-shadow;
    }
    .input {
      // border-radius: 2px;
      border: none;
      box-shadow: 0 0 4px $border-shadow;
    }
    select {
      // border-radius: 2px;
      border: none;
      box-shadow: 0 0 4px $border-shadow;
    }
    label.file-label {
      margin-right: 15px;
    }
  }

  button{
      // padding: 0px 8px;
    &.btn-ibook {
      background: #374857;
      border: 2px solid #374857;
      // border-radius: 16px;
      color: #fff;
      &:hover {
        color: #fff;
      }
      &:focus, &.active{
        background: #fff;
        color: #374857;
      }
    }
    &.inverse.btn-ibook {
      border: 2px solid #374857;
      color: #374857;
      background: #fff;
      &:hover {
        color: #000;
        opacity: 0.7;
      }
      &:focus, &.active{
        background: #fff;
        color: #374857;
      }
    }
  }

  td {
    text-align: center !important;
  }
  
  #warpper {
    background: #f4f4f4;
    margin-left: 70px;
    display: block;
    height: 100%;
    // min-height: 100%;
  }
</style>
